/*------- Global Partials---------*/
*, 
*::before, 
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



@font-face {
    font-family: avenirBold;
    src: url(../assets/fonts/AvenirNextLTPro-Bold.otf);
}

@font-face {
    font-family: avenirDemi;
    src: url(../assets/fonts/AvenirNextLTPro-Demi.otf);
}

@font-face {
    font-family: avenirRegular;
    src: url(../assets/fonts/AvenirNextLTPro-Regular.otf);
}
