/*--------------------PRIMARY COLORS ------------------*/

$site-black: #323232;
$site-silver: #AFAFAF;
$site-white: white;

/*--------------------SECONDARY COLORS ------------------*/

$site-darkBlack: #000000;
$site-mercury: #E1E1E1;
$site-alabaster: #FAFAFA;


/*-------------------- FONTS --------------------*/

