/*--------------- IMPORTS --------------------*/
/*------- Global Partials---------*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: avenirBold;
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf);
}
@font-face {
  font-family: avenirDemi;
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf);
}
@font-face {
  font-family: avenirRegular;
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf);
}
/*--------------------PRIMARY COLORS ------------------*/
/*--------------------SECONDARY COLORS ------------------*/
/*-------------------- FONTS --------------------*/
/*--------------- IMPORTS --------------------*/
/*---------------------------------------------------------*/
/*                  MEDIA QUERY MIXIN                      */
/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
/*                    MOBILE MIXINS                        */
/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
/*          TABLET & DESKTOP MIXINS                        */
/*---------------------------------------------------------*/
/*----------------- NAV ---------------------*/
.nav {
  background-color: #323232;
}
.nav__link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: avenirRegular, Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  color: #E1E1E1;
}
.nav__link--modifier {
  color: white;
}
.nav__logo {
  padding-top: 1rem;
}
.nav__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nav__item {
  font-family: avenirRegular, Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  color: #E1E1E1;
  padding: 1rem 0;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.nav__item--modifier {
  border-bottom: solid white;
}
.nav__item:hover {
  color: white;
  border-bottom: solid white;
  font-weight: 700;
  align-self: center;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row;
  }
  .nav__logo {
    padding: 2.25rem;
  }
  .nav__list {
    align-items: center;
    justify-content: space-around;
    min-width: 13rem;
  }
  .nav__item--modifier {
    padding: 2rem 0;
  }
  .nav__item:hover {
    padding: 2rem 0;
  }
}
@media only screen and (min-width: 1280px) {
  .nav__list {
    min-width: 10rem;
  }
}

/* --------------------- HERO ---------------------- */
.hero {
  position: relative;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  min-height: 40vh;
  display: flex;
}
.hero__title {
  font-family: avenirRegular, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: white;
  justify-content: flex-start;
  align-content: center;
  padding-left: 1rem;
}
@media only screen and (min-width: 768px) {
  .hero__title {
    font-family: avenirRegular, Arial, Helvetica, sans-serif;
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    padding-left: 2.25rem;
    min-height: 60vh;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__title {
    min-height: 100vh;
  }
}

/* --------------------- ABOUT --------------------- */
.about {
  padding: 0 1rem;
}
.about__heading {
  font-family: avenirRegular, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #323232;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.about__img {
  max-width: 100%;
  min-width: 100px;
  height: auto;
}
.about__quote {
  font-family: avenirRegular, Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  color: #323232;
  padding-top: 1rem;
}
.about__subheading {
  font-family: avenirRegular, Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  color: #323232;
  padding-top: 1.5rem;
}
.about__text {
  font-family: avenirRegular, Arial, Helvetica, sans-serif;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #323232;
  padding-top: 1rem;
}
@media only screen and (min-width: 768px) {
  .about {
    padding: 0 2.25rem;
  }
  .about__heading {
    font-family: avenirRegular, Arial, Helvetica, sans-serif;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
  .about__img {
    padding: 0 2.25rem;
  }
  .about__quote {
    font-family: avenirRegular, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    padding: 2.25rem 2.25rem 0 2.25rem;
  }
  .about__subheading {
    font-family: avenirRegular, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    padding: 2.25rem 2.25rem 0 2.25rem;
  }
  .about__container {
    display: flex;
    flex-direction: row;
    padding: 0 2.25rem;
  }
  .about__text {
    font-family: avenirRegular, Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    padding: 2.25rem 2.25rem 0 0;
  }
}
@media only screen and (min-width: 1280px) {
  .about {
    padding: 0 4.5rem;
  }
  .about__img {
    padding: 0 7rem;
    max-width: 98%;
  }
  .about__quote {
    padding: 2.25rem 7rem 0 7rem;
  }
  .about__subheading {
    padding: 2.25rem 7rem 0 7rem;
  }
  .about__container {
    padding: 0 7rem;
  }
}

/* -------------------- GALLERY --------------------- */
.gallery {
  padding: 0 1rem;
  background-color: #FAFAFA;
}
.gallery__heading {
  font-family: avenirRegular, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.gallery__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.gallery__img {
  max-width: 100%;
  min-width: 6.25rem;
  height: auto;
  padding-bottom: 1rem;
}
@media only screen and (min-width: 768px) {
  .gallery {
    padding: 0 2.25rem;
  }
  .gallery__heading {
    font-family: avenirRegular, Arial, Helvetica, sans-serif;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
  .gallery__list {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    gap: 1.5rem;
    padding-bottom: 2rem;
    width: 100%;
  }
  .gallery__item {
    max-width: 31%;
  }
  .gallery__img {
    padding: 0;
    filter: grayscale(100%);
    transition: 0.5s all ease-in-out;
  }
  .gallery__img:hover {
    filter: grayscale(0%);
  }
}
@media only screen and (min-width: 1280px) {
  .gallery {
    padding: 0 4.5rem;
  }
  .gallery__item {
    max-width: 31.9%;
  }
}

/* --------------------- COMMENTS FORM & Section --------------------- */
.comments {
  padding: 0 1rem;
  background-color: white;
}
.comments__heading {
  font-family: avenirRegular, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.comments__avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 1rem;
  margin-top: 1.5rem;
}
.comments__form-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
}
.comments__form-container {
  flex-grow: 2;
  border-bottom: 1px solid #E1E1E1;
}
.comments__image-container {
  border-bottom: 1px solid #E1E1E1;
}
.comments__input {
  font-family: avenirRegular, Arial, Helvetica, sans-serif;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-weight: 700;
  color: #323232;
  width: 100%;
  min-height: 2.25rem;
  border-radius: 0.25rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #E1E1E1;
}
.comments__input:active {
  border: 1px solid #323232;
}
.comments__input--modifier {
  font-family: avenirRegular, Arial, Helvetica, sans-serif;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-weight: 700;
  color: #323232;
  width: 100%;
  height: 6rem;
  min-height: 2.25rem;
  border-radius: 0.25rem;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  border: 1px solid #E1E1E1;
}
.comments__input--modifier:active {
  border: 1px solid #323232;
}
.comments__label {
  font-family: avenirRegular, Arial, Helvetica, sans-serif;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-weight: 700;
  color: #AFAFAF;
  padding-bottom: 0.25rem;
}
.comments__button {
  font-family: avenirRegular, Arial, Helvetica, sans-serif;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-weight: 700;
  color: white;
  background-color: #323232;
  height: 2.5rem;
  padding: 0.75rem;
  width: 100%;
  border-radius: 0.25rem;
  margin: 0.5rem 0 1rem 0;
}
.comments__button:hover {
  background-color: #000000;
  font-weight: 700;
}
.comments__container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}
.comments__cContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  border-bottom: 1px solid #E1E1E1;
}
.comments__iContainer {
  border-bottom: 1px solid #E1E1E1;
}
.comments__nameContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.comments__image {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  margin-right: 1rem;
  background-color: #E1E1E1;
  -o-object-fit: cover;
     object-fit: cover;
}
.comments__commentDiv {
  padding-top: 1rem;
}
.comments__name {
  font-family: avenirRegular, Arial, Helvetica, sans-serif;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-weight: 700;
}
.comments__date {
  font-family: avenirRegular, Arial, Helvetica, sans-serif;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #AFAFAF;
}
.comments__comment {
  font-family: avenirRegular, Arial, Helvetica, sans-serif;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  .comments {
    padding: 0 2.25rem;
  }
  .comments__heading {
    font-family: avenirRegular, Arial, Helvetica, sans-serif;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
  .comments__form-section {
    padding: 0 2.25rem;
  }
  .comments__container {
    padding: 0 2.25rem;
    margin-bottom: 2.25rem;
  }
  .comments__form {
    display: flex;
    flex-direction: column;
  }
  .comments__button {
    align-self: flex-end;
    width: 30%;
  }
  .comments__avatar {
    width: 3rem;
    height: 3rem;
  }
  .comments__image {
    width: 3rem;
    height: 3rem;
  }
  .comments__commentDiv {
    padding-top: 0.5rem;
  }
  .comments__comment {
    font-family: avenirRegular, Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    padding-bottom: 1.5rem;
  }
  .comments__iContainer {
    padding-top: 1.5rem;
  }
  .comments__cContainer {
    flex-grow: 2;
  }
  .comments__nameContainer {
    padding-top: 1.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .comments {
    padding: 0 4.5rem;
  }
  .comments__form-section {
    padding: 0 16rem;
  }
  .comments__container {
    padding: 0 16rem;
  }
}

/* --------------------- FOOTER --------------------- */
.footer {
  background-color: #323232;
  color: white;
  padding: 1.5rem 1rem;
}
.footer__heading {
  font-family: avenirRegular, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.footer__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-bottom: 1.5rem;
}
.footer__item {
  padding: 0 2rem;
}
.footer__item:nth-child(1) {
  padding-left: 0;
}
.footer__subheading {
  font-family: avenirRegular, Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  padding-bottom: 1rem;
}
.footer__text {
  font-family: avenirRegular, Arial, Helvetica, sans-serif;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  padding-bottom: 1rem;
}
.footer__copyright {
  font-family: avenirRegular, Arial, Helvetica, sans-serif;
  font-size: 0.6875rem;
  line-height: 1.125rem;
  font-weight: 400;
  padding-bottom: 1rem;
}
.footer__mail {
  font-family: avenirRegular, Arial, Helvetica, sans-serif;
  font-size: 0.6875rem;
  line-height: 1.125rem;
  font-weight: 400;
  text-decoration: none;
  color: white;
}
.footer__logoM {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.footer__logoT {
  display: none;
}
@media only screen and (min-width: 768px) {
  .footer {
    padding: 0 2.25rem;
    display: flex;
    flex-flow: row wrap;
  }
  .footer__top-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .footer__top-container__left {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  .footer__heading {
    font-family: avenirRegular, Arial, Helvetica, sans-serif;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    padding-right: 2.25rem;
  }
  .footer__list {
    align-items: center;
  }
  .footer__list__item {
    padding: 0;
  }
  .footer__logoT {
    display: block;
  }
  .footer__mid-container {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    width: 100%;
  }
  .footer__section {
    width: 30%;
  }
  .footer__subheading {
    font-family: avenirRegular, Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    font-weight: 700;
  }
  .footer__text {
    font-family: avenirRegular, Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
  .footer__mail {
    font-family: avenirRegular, Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    text-decoration: none;
    color: white;
  }
  .footer__logoM {
    display: none;
  }
  .footer__copyright {
    font-family: avenirRegular, Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
    width: 100%;
  }
}
@media only screen and (min-width: 1280px) {
  .footer {
    padding: 0 4.5rem;
  }
}/*# sourceMappingURL=bio.css.map */