/*--------------- IMPORTS --------------------*/

@use './partials/global' as *;
@use './partials/mixins' as *;
@use './partials/variables' as *;


/*--------------- NAV & FOOTER ---------------*/

@use '../styles/bio.scss' as *;

/*----------------- HERO ---------------------*/

/* --------------------- HERO ---------------------- */

.show__hero {
    position: relative;
    background: linear-gradient(rgba(50, 50, 50, 0.5),rgba(50, 50, 50, 0.5)), url(../assets/images/hero-shows.jpg),;
    background-size: cover;
    background-position: center;
    min-height: 40vh;
    display: flex;
    flex-direction: column;


    &__subtitle {
        @include subheader-mobile;
        color: $site-white;
        justify-content: flex-start;
        align-content: center;
        padding: 2rem 1rem 0 1rem;


    }

    &__embed {
        width: 100%;
        height: auto;
        padding: 2rem 1rem;

    }

    &__title {
        @include page-header-mobile;
        color: $site-white; 
        justify-content: flex-start;
        align-content: center;
        padding: 1rem;
    }
        // HERO TABLET STYLING

    @include respond(tablet) {
        min-height: 60vh;

        &__title {
            @include page-header-dt;
            padding-left: 2.25rem;
        }

        &__subtitle {
            @include subheader-dt;
            padding-top: 8vh;
            padding-left: 2.25rem;

        }

        &__embed {
            width: 50%;
            padding-left: 2.25rem;

        }

    }

    // HERO DESKTOP STYLING

    @include respond(desktop) {
        min-height: 100vh;
        flex-direction: row;
        align-items: center;

        &__container {
            display: flex;
            flex-direction: column;
        }
    
        &__title {
            padding-left: 4.5rem;
        }
    
        &__subtitle {
            padding-left: 4.5rem;
        }
    
        &__embed {
            height: 15%;
            width: 50%;
            padding: 0 4.5rem;
        }
    }

}



/*--------------- SHOWS ----------------------*/

.shows {
    padding: 0 1rem;
    background-color: $site-white;

    &__heading {
        @include section-header-mobile;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
    }

    &__container {
        margin-bottom: 1rem;
        border-bottom: 1px solid $site-mercury;
    }

    &__subheading {
        @include footer-copy-mobile;
        font-weight: 700;
        color: $site-silver;
        padding-bottom: .25rem;
    }

    &__content {
        @include subheader-mobile;
        font-weight: 700;
        color: $site-black;
        padding-bottom: 1rem;
    }

    &__button {
        @include body-copy-mobile;
        font-weight: 700;
        color: $site-white;
        background-color: $site-black;
        height: 2.5rem;
        padding: .75rem;
        width: 100%;
        border-radius: .25rem;
        margin: .5rem 0 1rem 0;

        &:hover {
            background-color: $site-darkBlack;
            font-weight: 700;
        }
    }

    &__responsive {
        display: none;
    }

    @include respond(tablet) {
        padding: 2.25rem;

        &__heading {
            @include section-header-dt;
            padding: 0 2.25rem 2.25rem;
        }

        &__subheading {
            display: none;
        }

        &__container {
            padding: 0 2.25rem;
            display: flex;
            justify-content: space-around;
            align-items: baseline;
        }

        &__button {
            @include subheader-mobile;
            width: 30%;
            height: 3rem;
        }

        &__responsive {
            padding: 0 2.25rem;
            display: flex;
            padding-left: 4rem;

        }

        &__tablet__subheading {
            @include footer-copy-dt;
            font-weight: 700;
            color: $site-silver;
            padding-bottom: .25rem;
            width: 23%;

            &:nth-child(2) {
                width: 18%;
            }
        }

        &__div {
            width: 25%;
            height: 3rem;
            background-color: $site-white;
        }
    }

    @include respond(desktop) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
        &__top__container {
            width: 80%;
        }
    }
}